if SHIELD_NVEW_LEFT || SHIELD_NVEW_RIGHT

# Nombre visible del teclado (mismo nombre para ambas mitades)
config ZMK_KEYBOARD_NAME
    default "NVEW"

# Habilitar split (ZMK entiende que hay 2 mitades)
config ZMK_SPLIT
    default y

# Habilitar split sobre BLE (si está disponible en tu versión)
config ZMK_SPLIT_BLE
    default y

config CONFIG_ZMK_SLEEP
    default y

config CONFIG_BT_CTLR_TX_PWR_PLUS_8
    default y


config CONFIG_ZMK_HID_CONSUMER_REPORT_USAGES_BASIC
    default y

endif

if SHIELD_NVEW_RIGHT
# Mitad derecha será CENTRAL (se empareja con el host)
config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_DISPLAY
    default y

config SSD1306
    default y

config ZMK_DISPLAY_STATUS_SCREEN
    default y
endif

if SHIELD_NVEW_LEFT
# Mitad izquierda será PERIPHERAL (se conecta a la derecha)
config ZMK_SPLIT_ROLE_PERIPHERAL
    default y
endif
