#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {  
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                                &kp Y           &kp U       &kp I       &kp O       &kp P       
            &kp C_VOLUME_UP     &kp H           &kp J       &kp K       &kp L       &kp Ñ       &ENTER
            &kp C_VOLUME_UP     &kp B           &kp N       &kp M       &kp COMMA   &kp .       
            &RSHIFT             &kp SPACE       &kp DEL     &kp END                   
            >;
            sensor-bindings = <&inc_dec_kp MS_WH_UP MS_WH_DOWN>;
        };
    };
};